.App {
  text-align: center;
}

.App-Wrapper {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;

  color: white;
  display: flex;
  justify-content: space-around;
}

.App-title {
  font-size: 1.3em;
}

.App-intro {
  font-size: large;
}

.App-Sidebar {
  width: 3oopx;
  background-color: #c5d1e5;
}

.App-Menu-icon {
  background-color: transparent;
  color: white;
  border: none;
}

@media screen and (max-width: 700px) {
  .App-Wrapper {
    flex-direction: column;
  }
}
