.App {
  text-align: center;
}

.App-Wrapper {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1.3em;
  margin: 20px auto;
}

.App-intro {
  font-size: large;
}

.App-Sidebar {
  width: 3oopx;
  background-color: #c5d1e5;
}

.App-Menu-icon {
  background-color: transparent;
  color: white;
  border: none;
}

.App-Menu-icon:hover {
  background-color: transparent;
  color: #c5d1e5;
  border: none;
}

.App-Title-Filter {
  font-size: 1.2em;
}

.App-Title-InfoWindow {
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .App-Wrapper {
    flex-direction: column;
  }
}
